html
	overflow hidden
body
	background-image linear-gradient(rgba(77,219,172,1), rgba(191,247,222,1))
#impress
	transition all 0.2s ease-in-out !important
	> div
		transition all 0.5s ease-in-out !important
.slide
	font-size 2em
	color #fff
	text-align center
	width 700px
	margin 0 auto
	img 
		display block
		margin 0 auto
	ul 
		text-align left
	a 
		color rgba(91,164,201,1)
.hd-logo
	position fixed
	bottom 10px
	right 10px
	
	